.footer{
    border: 1px solid gray;
    & h1 {
        text-align: right;
        margin-right: 2%;
        font-size: 25px;
    }
    & h2 {
        text-align: center;
        font-size: 14px;
    }
}